body {
  /* Typography */
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 200%;
  color: rgb(87, 79, 79);

  /* Visual */
  background: #efeee7;
}

/* Header Section */
header {
  /* Visual */
  background: rgb(65, 64, 64);
  
  /* Positioning */
  position: fixed;
  width: 100%;
  height: 80px;
}

/* Kassi Stumb */
h1 {
  /* Box-model */
  padding: 20px 10px;

  /* Positioning */
  margin-left: 60px;
  height: 100%;
  font-size: 28px;
  float: left;

  /* Typography */
  color: #eee;
  text-align: center;
  background-color: #af3d3d;
}

/* Nav Bar */
nav {
  margin-right: 30px;
  font-size: 20px;
}

li {
  padding: 10px;
}

/* link colors */
a {
  color: #af3d3d;
  font-weight: bold;
}

a:hover {
  color: #eee;
}

/* Container Sections */

.container {
  padding-top: 150px;
}

#main-bio, #contact-info {
  width: 70%;
  background-color: white;
  padding: 20px;
}

/* About Me, Portfolio, Contact Headings */
h2 {
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
  color: #af3d3d;
}

/* Lines below headings */
hr {
  border: none;
  background-color: rgb(158, 152, 152);;
  height: 2px;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}

#bio-image {
  width: 30%;
  /* Positioning */
  float: left;
  margin-right: 20px;
  padding-top: 10px;
}

/* Form on Contact Page */
.button {
  background-color: #af3d3d;
  color: #eee;
  border-radius: 0%;
  width: 100px;
}

.border {
  border-radius: 0%;
}


