html {
  position: relative;
  min-height: 100%;
}

body {
  /* Typography */
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 200%;
  color: rgb(87, 79, 79);

  /* Visual */
  background: #efeee7;
}

/* Header Section */

header {
  background: rgb(65, 64, 64);
  border: none;
}

  /* Kassi Stumb */
  .navbar-brand {
    font-size: 28px;
    color: #eee;
    background-color: #af3d3d;

    padding: 20px;
  }

  /* Links */

  a {
    color: #af3d3d;
    font-weight: bold;
    font-size: 20px;
  }
  
  a:hover {
    color: #eee;
  }


/* Main Sections */

.section-border {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
  border: 1px solid rgb(189, 183, 183);
}

/* Lines below headings */
hr {
  border: none;
  background-color: rgb(158, 152, 152);
  height: 2px;
}

/* Bio */
p {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}

/* Image */
.bio-image {
  width: 100%;
  float: left;
  margin: 0 20px 10px 0;
}

/* Portfolio Page */
.card-body {
  background-color: #af3d3d;
  margin-top: -100px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #eee;
  text-align: center;
}

/* Form on Contact Page */
.button {
  background-color: #af3d3d;
  color: #eee;
  border-radius: 0%;
  width: 100px;
}

.border {
  border-radius: 0%;
}

/* Footer */
.bottom-red-line {
  border: none;
  background-color: #af3d3d;
  height: 10px;
  margin-bottom: 0;
}

footer {
  background-color: #807f7b;
}

footer ul {
  list-style-type: none;
}

/* Media Queries */

@media screen and (max-width: 767px) {

  header {
    background-color: #af3d3d;
  }

  /* Keep horizontal at collapse */
  .navbar-expand-md {
    flex-flow: row nowrap;
    display: inline-flex;
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    width: 100%;
  }

  .collapse-center {
   width: 100%;
  }

  /* Navbar-nav background color under 767px*/
  .navbar-nav {
    background-color: #eee;
    flex-flow: row nowrap;
    justify-content: center;
  }

 .collapse-center li {
   padding: 10px;
 }

}


