html {
  position: relative;
  min-height: 100%;
}

body {
  /* Typography */
  font-family: 'Merriweather', serif;
  line-height: 200%;
  color: #264653;

  /* Visual */
  background: #F4A261;
}


/* Header Section */

header {
  background: #264653;
  border: none;
}

.navbar {
  padding: 0;
}

  /* Kassi Stumb */
  .navbar-brand {
    font-size: 36px;
    color: #eee;
    background-color: #E76F51;

    padding: 20px;
  }

  /* Links */

  a {
    color: #E76F51;
    font-weight: bold;
    font-size: 28px;
  }
  
  a:hover {
    color: #eee;
  }


/* Main Sections */

/* Background Image */
figure {
  background-image: url(../images/background.jpg);
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
}

.section-border {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
  border: 1px solid rgb(189, 183, 183);
}

/* Lines below headings */
hr {
  border: none;
  background-color: rgb(158, 152, 152);
  height: 2px;
}

/* Bio */
p {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}

.tech-info {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.hobbies {
  font-family: 'Roboto Mono', monospace;
}

.about-me-border {
  border: 1px dashed rgb(189, 183, 183);
}

/* Image */
.bio-image {
  width: 100%;
  float: left;
  margin: 0 20px 10px 0;
}

/* Portfolio Page */
.card-body {
  background-color: #E76F51;
  margin-top: -100px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #eee;
  text-align: center;
}

/* Form on Contact Page */
.button {
  background-color: #E76F51;
  color: #eee;
  border-radius: 0%;
  width: 100px;
}

.border {
  border-radius: 0%;
}

/* Footer */
.bottom-red-line {
  border: none;
  background-color: #E76F51;
  height: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

footer {
  background-color: #264653;
}

footer ul {
  list-style-type: none;
}

/* Media Queries */

@media screen and (max-width: 767px) {

  header {
    background-color: #E76F51;
  }

  /* Keep horizontal at collapse */
  .navbar-expand-md {
    flex-flow: row nowrap;
    display: inline-flex;
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    width: 100%;
  }

  .collapse-center {
   width: 100% !important; 
   margin: 0 auto !important;
  }

  /* Navbar-nav background color under 767px*/
  .navbar-nav {
    background-color: #eee;
    flex-flow: row nowrap;
    justify-content: center;
    
  }

 .collapse-center li {
   padding: 10px;
 }

}


